@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');
/* COLOR  AND FONT*/

nav , footer
{
    background-color: antiquewhite;
    color: #040404;
}
h1
{
    font-family: 'Roboto Slab', serif;
    font-size: 1.2rem;
    font-weight: 500; 
}
h2, h5
{
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    font-weight: 300; 
}
p
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300; 
}
.category
{
text-decoration: none;
 color: #040404;
}
.category:hover
{
    color: #8D5409;
}
.backcolor
{
    background-color: #8d54096d;
    border-radius: 5%;
}

/* BACKGROUND IMAGE FOR PAGES*/

.backimg
{

    background: #8d54092f url("images/imageattach.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    height: 60vh;
}
.header
{
    background: #8d54092f url("images/header.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    height: 80vh;
}
.headercontact
{
    background: #8d54095f url("images/contact.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position-y: center;
    background-position: center;
    background-blend-mode: darken;
    height: 50vh; 
}
.backaboutus
{
    background: #4c2e0655 url("images/aboutus.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position-y: center;
    background-position: center;
    background-blend-mode: darken;
    height: 60vh; 
}
/* ANIMATION BUTTON*/
.btn.btn-flat{
    font-family: 'Roboto Slab', serif;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
	border: 3px solid #8D5409;
	height: 50px;
	background: transparent;
	-webkit-transition: 0.9s;
	transition: 0.9s;
}

.btn-flat.btn-color{
	color: #040404;
	background: linear-gradient(30deg, #8D5409 50%, transparent 50%);
	background-position: right bottom;
	background-size: 300% 100%;

}
.btn-flat.btn-color:hover{
	background-position: left bottom;
	border: 3px solid #8D5409;
	color: #fffafa;
}
.btncolor{
	color: #fffafa !important;
    background-color: #8D5409 !important;
}
.circle
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

hr
{
    border: 3px solid #000000 !important;
    border-radius: 50%;
    width: 10% !important;
}
.sidebar
{
    margin-top:  150px;
    left: 0;
}
.cards
{
    margin-top: 100px;
}
/* DESIGN PAGE DETAIS */
.color-box
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.circle
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #000;
}
/* SPLIDE PAGE DETAILS */

.thumbnails {
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: start;
  }

  .thumbnail {
    width: 70px;
    height: 70px;
    overflow: hidden;
    list-style: none;
    margin: 0 0.2rem;
    cursor: pointer;
    opacity: 0.3;
  }

  .thumbnail.is-active {
    opacity: 1;
  }

  .thumbnail img {
    width: 100%;
    height: auto;
  }

  .splide__arrows {
    visibility: hidden;
  }
